# Node & Package Manager
node_modules
.dockerignore
Dockerfile
*.log
*.md
.git
.gitignore
.env
.env.*
coverage
tests
.vscode


# Next.js build output
.next
out
.cache

# Environment variables
.env*
!.env.example  # keep example if needed

# Version Control
.git
.gitignore

# Docker-related files
Dockerfile*
.dockerignore
docker-compose.yml

# IDE / Editor / OS
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# Test & Coverage
coverage
*.test.*
*.spec.*
jest.config.*
playwright.config.*
cypress/

# Docs
README.md
*.md

#Put any other files or directories!
