# Node & Package Manager
node_modules
.npm
.yarn
.pnpm-store
*.tgz
.db

# Build Output
.next
out
.cache
dist
build

# Environment Variables
.env*
!.env.example

# Logs & Temp
*.log
*.pid
*.tmp
*.bak

# Editor / OS
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# Version Control
.git
.gitignore

# Test & Coverage
coverage
*.test.*
*.spec.*
jest.config.*
playwright.config.*
cypress/

# Docs
README.md
*.md
